<h1>User List</h1>
<% @users.each do |user| %>
  <% if user.role == 'premium' && user.email != current_user.email %>
    <tr>
      <td><center><%= user.name %></td></center>
      <td colspan="30"><center><%= user.email %></td></center>
      <td><center><%= check_box_tag :user_ids, user.id, @post.users.include?(user), name: 'post[user_ids][]'%></center></td>
      <%#= label_tag :user_ids, user.email %>
    </tr>
  <% end %>
<% end %>